body {
  background-color: green;
  margin: 0;
}

.header {
  max-width: 100%;
  height: 80px;
  padding-top: 15px;
  padding-left: 15px;
  background-color: maroon;
  color: #bbb;
  font-size: 200%;
  text-align: left;
}

.navbar {
  text-align: center;
  background-color: maroon;
}

button {
  height: 30px;
  width: 85px;
  margin: 1px;
  margin-bottom: 0;
  background-color: #bbb;
  font-weight: bold;
  border: none;
}

#focal {
  height: 989px;
  width: 699px;
  background-color: white;
  margin: 1em auto;
  text-align: center;
}

h1 {
  padding-top: 40px;
  margin-bottom: 80px;
}

h3 {
  padding: 10px 20px;
}

footer {
  max-width: 100%;
  height: 45px;
  padding-top: 17px;
  padding-left: 45px;
  background-color: #444;
  color: #ddd;
  text-align: left;
}